# gyökér
/.well-known/
/vendor/
error_log

# API: mindent kizárunk...
/api/*

# ...de magát a /api mappát visszaengedjük, hogy lehessen benne kivételt tenni
!/api/

# /api gyökérben ezek kellenek
!/api/.htaccess
!/api/upload_lelet.php

# uploads: csak a .htaccess kell
/api/uploads/*
!/api/uploads/
!/api/uploads/.htaccess

# uploads/leletek: csak a .htaccess kell
/api/uploads/leletek/*
!/api/uploads/leletek/
!/api/uploads/leletek/.htaccess

# queue: csak a .htaccess kell
/api/queue/*
!/api/queue/
!/api/queue/.htaccess

# gyökér .htaccess
/.htaccess
